In [2]:
import re
import string
import pandas as pd

In [17]:
text = "The bat sat on the cat."
pattern = re.compile('[\W_]+')
t = pattern.sub(' ', text)
words = [w for w in t.lower().split(' ') if len(w) > 0]
print(words)
# columns = words
rows = list(set(words))
print(rows)

['the', 'bat', 'sat', 'on', 'the', 'cat']
['sat', 'on', 'bat', 'the', 'cat']

In [27]:
d = dict()
j = 0
for word in words:
    column = f"{j}.{word}"
    d[column] = [1 if rows[i] == word else 0 for i in range(len(rows))]
    j += 1

In [31]:
print(d)

{'0.the': [0, 0, 0, 0, 1], '1.bat': [1, 0, 0, 0, 0], '2.sat': [0, 0, 0, 1, 0], '3.on': [0, 0, 1, 0, 0], '4.the': [0, 0, 0, 0, 1], '5.cat': [0, 1, 0, 0, 0]}

In [34]:
df = pd.DataFrame(data=d, index=rows)

In [35]:
print(df)

     0.the  1.bat  2.sat  3.on  4.the  5.cat
bat      0      1      0     0      0      0
cat      0      0      0     0      0      1
on       0      0      0     1      0      0
sat      0      0      1     0      0      0
the      1      0      0     0      1      0

In [41]:
def prepare_data_frame(text):
    pattern = re.compile('[\W_]+')
    t = pattern.sub(' ', text)
    
    words = [w for w in t.lower().split(' ') if len(w) > 0]
    rows = sorted(list(set(words)))
    
    d = dict()
    j = 0
    for word in words:
        column = f"{j}.{word}"
        d[column] = [1 if rows[i] == word else 0 for i in range(len(rows))]
        j += 1
        
    df = pd.DataFrame(data=d, index=rows)
        
    return df

In [42]:
prepare_data_frame("The bat sat on the cat.")

     0.the  1.bat  2.sat  3.on  4.the  5.cat
bat      0      1      0     0      0      0
cat      0      0      0     0      0      1
on       0      0      0     1      0      0
sat      0      0      1     0      0      0
the      1      0      0     0      1      0

In [43]:
prepare_data_frame("Chciałbym kiedyś zostać starszym programistą, ale jeszcze trochę muszę klepać kodu.")

,0.chciałbym,1.kiedyś,2.zostać,3.starszym,4.programistą,5.ale,6.jeszcze,7.trochę,8.muszę,9.klepać,10.kodu
ale,0,0,0,0,0,1,0,0,0,0,0
chciałbym,1,0,0,0,0,0,0,0,0,0,0
jeszcze,0,0,0,0,0,0,1,0,0,0,0
kiedyś,0,1,0,0,0,0,0,0,0,0,0
klepać,0,0,0,0,0,0,0,0,0,1,0
kodu,0,0,0,0,0,0,0,0,0,0,1
muszę,0,0,0,0,0,0,0,0,1,0,0
programistą,0,0,0,0,1,0,0,0,0,0,0
starszym,0,0,0,1,0,0,0,0,0,0,0
trochę,0,0,0,0,0,0,0,1,0,0,0
zostać,0,0,1,0,0,0,0,0,0,0,0